{% extends "app/layout.html" %}
{% load static %}
{% block title %}
Про нас
{% endblock %}

{% block content %}
<div id="main-content">
    <div id="sub-content">
        <img class="about-img" src="static/app/img/about_us.jpg" alt="about us">
    </div>
    <div class="about-text">
        <p>
            зручне обслуговування – наша основна мета. Ми займається обслуговуванням автомобілів більше 10 років і
            постійно
            удосконалюємося, щоб надавати оперативні і якісні послуги
        </p>
        <p>
            зручне розташування – ми розташували наш автоцентр прямо у великої транспортної розв’язки, по сусідству з
            торгово-розважальними комплексами, поблизу станції метро
        </p>
        <p>
            зручний робочий час – ми раді бачити наших клієнтів з 8.30 до 19.30 у буденні дні, з 9.00 до 17.00 в суботу
        </p>
        <p>
            зручні ціни на наші послуги – ми постійно пропонуємо акційні умови на актуальні послуги, надаємо знижки
            постійним клієнтам, а головне, наші клієнти платять тільки за необхідний ремонт
        </p>
    </div>
</div>
{% endblock %}