{% extends "app/layout.html" %}
{% load static %}

{% block title %}
Станція технічного обслуговування
{% endblock %}

{% block content %}
<header id="image-header">
    <img class="home-header-img" src="static/app/img/home.svg" alt="home-header-img">
</header>

<div class="container-md">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card">
                <img src="static/app/img/sklo.png" class="card-img-top card-img" alt="sklo">
                <div class="card-body">
                    <h5 class="card-title">Заміна автоскла</h5>
                    <p class="card-text">Заміна автоскла - це процедура, під час якої видаляється пошкоджене чи тріснуте
                        автомобільне скло і встановлюється нове.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/maslo.jpg" class="card-img-top card-img" alt="maslo">
                <div class="card-body">
                    <h5 class="card-title">Заміна масла та рідин</h5>
                    <p class="card-text">Заміна масла та рідин в автомобілі є регулярним технічним обслуговуванням, яке
                        допомагає забезпечити ефективну роботу двигуна та інших систем автомобіля. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/shinomontazh.png" class="card-img-top card-img" alt="shina">
                <div class="card-body">
                    <h5 class="card-title">Шиномонтаж</h5>
                    <p class="card-text">Шиномонтаж — це процедура заміни або повороту шин на колесах автомобіля. Ця
                        процедура важлива для забезпечення безпеки та оптимальної ефективності автомобільного
                        транспорту.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/komp-diag.jpg" class="card-img-top card-img" alt="komp">
                <div class="card-body">
                    <h5 class="card-title">Компютерна діагностика</h5>
                    <p class="card-text">Комп'ютерна діагностика автомобіля - це процедура, під час якої
                        використовуються спеціальні пристрої та програмне забезпечення для зчитування і аналізу
                        інформації, яку генерують електронні системи автомобіля. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/electrica.jpeg" class="card-img-top card-img" alt="electrica">
                <div class="card-body">
                    <h5 class="card-title">Автоелектрика</h5>
                    <p class="card-text">Автоелектрика - це галузь автомобільного обслуговування, яка вивчає електричні
                        системи та компоненти в автомобілях.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/kuzuvnoi-remont.jpg" class="card-img-top card-img" alt="kuzov">
                <div class="card-body">
                    <h5 class="card-title">Рихтування кузова</h5>
                    <p class="card-text">Рихтування кузова є процедурою відновлення форми та геометрії кузова автомобіля
                        після пошкоджень, таких як відбиття, згини, деформації та інші механічні ушкодження.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/farbuvania.jpg" class="card-img-top card-img" alt="farba">
                <div class="card-body">
                    <h5 class="card-title">Фарбування автомобіля</h5>
                    <p class="card-text">Фарбування автомобіля — це процедура нанесення нового шару фарби на кузов
                        автомобіля з метою відновлення його зовнішнього вигляду та захисту від корозії.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/dvygun.webp" class="card-img-top card-img" alt="dvygun">
                <div class="card-body">
                    <h5 class="card-title">Ремонт двигуна</h5>
                    <p class="card-text">Ремонт двигуна — це комплекс процедур, спрямованих на відновлення або
                        покращення роботи двигуна автомобіля, який може бути ушкоджений або несправний.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/hodova.jpg" class="card-img-top card-img" alt="hodova">
                <div class="card-body">
                    <h5 class="card-title">Ремонт ходової</h5>
                    <p class="card-text">Ремонт ходової частини автомобіля — це процес відновлення та усунення
                        несправностей в компонентах, які відповідають за стабільність та керованість транспортного
                        засобу.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/ingektor.jpg" class="card-img-top card-img" alt="ingektor">
                <div class="card-body">
                    <h5 class="card-title">Чистка інжектора</h5>
                    <p class="card-text">Чистка інжектора — це процедура очищення форсунок вприскування пального в
                        двигуні автомобіля від залишків пального, коксованого відкладення та інших забруднень, що можуть
                        виникати внаслідок експлуатації та якості пального. </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
