{% extends "app/layout.html" %}
{% load static %}

{% block title %}
Станція технічного обслуговування
{% endblock %}

{% block content %}
<header id="image-header">
    <img class="home-header-img" src="static/app/img/home.svg" alt="home-header-img">
</header>

<div class="container-md">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card">
                <img src="static/app/img/sklo.png" class="card-img-top card-img" alt="sklo">
                <div class="card-body">
                    <h5 class="card-title">Заміна автоскла</h5>
                    <p class="card-text">vewargeargvr agrvge</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/maslo.jpg" class="card-img-top card-img" alt="maslo">
                <div class="card-body">
                    <h5 class="card-title">Заміна масла та рідин</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/shinomontazh.png" class="card-img-top card-img" alt="shina">
                <div class="card-body">
                    <h5 class="card-title">Шиномонтаж</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/komp-diag.jpg" class="card-img-top card-img" alt="komp">
                <div class="card-body">
                    <h5 class="card-title">Компютерна діагностика</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/electrica.jpeg" class="card-img-top card-img" alt="electrica">
                <div class="card-body">
                    <h5 class="card-title">Автоелектрика</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/kuzuvnoi-remont.jpg" class="card-img-top card-img" alt="kuzov">
                <div class="card-body">
                    <h5 class="card-title">Рихтування кузова</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/farbuvania.jpg" class="card-img-top card-img" alt="farba">
                <div class="card-body">
                    <h5 class="card-title">Фарбування автомобіля</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/dvygun.webp" class="card-img-top card-img" alt="dvygun">
                <div class="card-body">
                    <h5 class="card-title">Ремонт двигуна</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/hodova.jpg" class="card-img-top card-img" alt="hodova">
                <div class="card-body">
                    <h5 class="card-title">Ремонт ходової</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="static/app/img/ingektor.jpg" class="card-img-top card-img" alt="ingektor">
                <div class="card-body">
                    <h5 class="card-title">Чистка інжектора</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
